<% messages.each do |message| %>
  <div class="col-lg-12 message-content">
    <% if message.attachment.present? %>
      <%= render partial: 'chat_rooms/message_attachment', locals: { message: message, last_seen_message: last_seen_message } %>
    <% else %>
      <%= render partial: 'chat_rooms/message_text', locals: { message: message, last_seen_message: last_seen_message } %>
    <% end %>
  </div>
<% end %>