<div class="col-lg-12 chat-room">
  <div class="container messages">
    <% @chat_room.messages.each do |message| %>
      <div class="col-lg-12">
        <span><%= message.user.email %> : </span>
        <span><%= message.content %></span>
      </div>
    <% end %>
  </div>
  <textarea class="message-textarea" data-room-id="<%= @chat_room.id%>" data-behavior="room-speaker"></textarea>
</div>

<script type="text/javascript">
  $(function() {
    CreateMessageChannel('<%= @chat_room.uuid %>');
  });
</script>