<% users.each do |user| %>
  <div class="row user-listing">
    <div class="col-md-6"><%= user.name %></div>
    <div class="col-md-6 add-friend-container-<%= user.id %>"> 
      <%= friend_request_exist(user.id, current_user.id) %>
    </div>
  </div>
<% end %>