<% users.each do |user| %>
  <div class="row user-listing">
    <div class="col-md-10"><li><%= link_to user.email, '#', class: 'chat-room-link', data: { is_group_chat: false, user_id: user.id } %></li></div>
    <div class="col-md-2" id = "user_<%=user.id%>">
      <% if user.online? %>
        <div class="online"></div>
      <% end %>
    </div>
  </div>
<% end %>
