<div class="user-nodes col-md-12" id="user-nodes">
</div>
<script>
  <% if @path.present?%>
    var cx = 60;
    var cy = 60;
    var x1 = 60;
    var y1 = 60;
    var x2 = 60;
    var y2 = 60;
    var xt = 60;
    var yt = 20;
    var t = 50; 
    var lineData = [];
    var lineFunction = d3.line()
                         .x(function(d) { return d.x; })
                         .y(function(d) { return d.y; })
    var svgContainer = d3.select('#user-nodes')
                         .append('svg')
                         .attr('width',900)
                         .attr('height',600);


    <% @path[0][0].each do |user| %>
      var lineCoordinates = {};
      lineCoordinates['x'] = cx;
      lineCoordinates['y'] = cy;
      lineCoordinates['name'] = "<%= user.name %>"
      cx = cx + 100;
      cy = cy + t;
      t = -t;
      lineData.push(lineCoordinates);
    <% end %>

    svgContainer.append("path")
                .attr("d", lineFunction(lineData))
                .attr("stroke", "black")
                .attr("stroke-width", 2)
                .attr("fill", "none");


    svgContainer.selectAll('circle')
                .data(lineData)
                .enter()
                .append('circle')
                .attr('cx',function(d){
                  return d.x     
                })
                .attr('cy',function(d){
                  return d.y;
                })
                .attr('r',30)
                .style('fill','DarkOrchid ');
    svgContainer.selectAll('text')
                .data(lineData)
                .enter()
                .append('text')
                .text(function(d){ return d.name })
                .attr('x',function(d){ return d.x-15 })
                .attr('y',function(d){ return d.y-35 })
                .attr("fill", "black");
  <% else %>
    var html = '<div class="no-relationship col-md-12">No relationships exists</div>';
    $('.user-nodes').append(html);
  <% end %>
</script>
