<div class="col-lg-9 chat-room-container">
</div>
<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Users</h3>
    <%= text_field_tag :email, nil, class: 'form-control', autocomplete: 'off' %>
    <div class='loader'></div>
    <ul class="nav nav-list users-list">
      <%= render partial:'users/user_list', locals: { users: @users } %>
    </ul>
  </div><!--/.well -->
</div>
