# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1eaae2833443e6fa1bc870a59596f3e68f1536e7084b810516cfbade0a4ed207c9e15b9ae356c45fb310bda2201765adf843ee20aaa5bd5042def483b9e830a1

test:
  secret_key_base: 464ccd932b18e00bb0f09f291106af5c28ef89bdf2a11c9cad25f8f104e64a91200d3241391f15a5eb4b6fdf69565d70d6171c488ba1eacbe8425939ce554cce

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
