.chat-room .messages {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid;
  border-bottom: none;
  width: 50%;
  margin-left: 0;
}

.message-textarea {
  width: 50%;
  height: 141px;
  margin-left: 0px;
}

.is-typing{
  margin-left: 0px;
  color: green;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  width: 50%;
  padding-left: 14px;
}
